# We're overridding the default for our base Drupal because there is some
# settings info we want stored.  We read passwords from /etc/drupal/* so
# the passwords aren't stored in these files that we're allowing to be stored

# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore paths for the drupal subsites; these have their own repositories
sites/islandora_drupal_subsite_*
